networks:
  tarpitssh_local:

services:
  tarpitssh:
    build: .
    container_name: tarpitssh
    restart: always
#    cpu_count: 1
#    cpus: 0.25
    privileged: true
    devices:
      - /dev/kvm:/dev/kvm
      - /dev/fuse:/dev/fuse
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    networks:
     - tarpitssh_local
    ports:
      - "2222:2222"
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    read_only: false
